Corpus_Chunked.csv
corpus_chunks_keyword_focused.csv
corpus_chunks_batched.csv
corpus_chunks.csv
Corpus_Chunked_full_annotated_cleaned.csv
Corpus_Chunked_annotated2508.csv
Corpus_Chunked_annotated2508_02.csv
Corpus_Chunked_full_annotated_2608.csv
CorpusChunked_adjusted.csv
Corpus_Chunked_full_annotated_.csv
Cache/
CS
Outputs
__pycache__/
Tex-Folder
bfg*
.csv*

*.csv